view/tpl/jade/Activity_detail_PC/address_list.html

<div class="address_select">
  <div class="address_list">
    <table>
      <thead>
        <tr>
          <th width="10%">收货人</th>
          <th width="15%">所在地区</th>
          <th width="30%">街道地址</th>
          <th width="10%">邮编</th>
          <th width="15%">手机</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" class="ta-c pd_l_0">数据加载中<span class="address_loading"></span></td>
        </tr>
        <tr>
          <td colspan="6" class="ta-c pd_l_0">暂无数据</td>
        </tr>
        <tr> 
          <td>小李</td>
          <td>新疆地区 吐鲁番市</td>
          <td class="pd_r_30">阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉</td>
          <td>200333</td>
          <td>13917874367</td>
          <td> <span>默认地址</span>
            <button class="button select_btn">选择</button>
          </td>
        </tr>
        <tr> 
          <td>小李</td>
          <td>新疆地区 吐鲁番市</td>
          <td class="pd_r_30">阿吉阿吉阿吉阿吉阿</td>
          <td>200333</td>
          <td>13917874367</td>
          <td> <span class="set_btn">设为默认</span>
            <button class="button select_btn">选择</button>
          </td>
        </tr>
        <tr> 
          <td>小李</td>
          <td>新疆地区 吐鲁番市</td>
          <td class="pd_r_30">阿吉阿吉阿吉阿吉阿</td>
          <td>200333</td>
          <td>13917874367</td>
          <td> <span class="set_btn">设为默认</span>
            <button class="button select_btn">选择</button>
          </td>
        </tr>
        <tr> 
          <td>小李</td>
          <td>新疆地区 吐鲁番市</td>
          <td class="pd_r_30">阿吉阿吉阿吉阿吉阿</td>
          <td>200333</td>
          <td>13917874367</td>
          <td> <span class="set_btn">设为默认</span>
            <button class="button select_btn">选择</button>
          </td>
        </tr>
        <tr> 
          <td>小李</td>
          <td>新疆地区 吐鲁番市</td>
          <td class="pd_r_30">阿吉阿吉阿吉阿吉阿</td>
          <td>200333</td>
          <td>13917874367</td>
          <td> <span class="set_btn">设为默认</span>
            <button class="button select_btn">选择</button>
          </td>
        </tr>
        <tr> 
          <td>小李</td>
          <td>新疆地区 吐鲁番市</td>
          <td class="pd_r_30">阿吉阿吉阿吉阿吉阿</td>
          <td>200333</td>
          <td>13917874367</td>
          <td> <span class="set_btn">设为默认</span>
            <button class="button select_btn">选择</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn_container">
    <button class="button close_btn">关闭</button>
  </div>
</div>

resources/tpl/jade/Activity_detail_PC/address_list.jade
div.address_select
	div.address_list
		table
			thead
				tr
					th(width="10%") 收货人
					th(width="15%") 所在地区
					th(width="30%") 街道地址
					th(width="10%") 邮编
					th(width="15%") 手机
					th(width="20%") 操作
			tbody
				tr
					td(colspan="6").ta-c.pd_l_0
						|数据加载中
						span.address_loading
				tr
					td(colspan="6").ta-c.pd_l_0 暂无数据
				tr 
					td 小李
					td 新疆地区 吐鲁番市
					td.pd_r_30 阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉阿吉
					td 200333
					td 13917874367
					td 
						span 默认地址
						button.button.select_btn 选择
				tr 
					td 小李
					td 新疆地区 吐鲁番市
					td.pd_r_30 阿吉阿吉阿吉阿吉阿
					td 200333
					td 13917874367
					td 
						span.set_btn 设为默认
						button.button.select_btn 选择
				tr 
					td 小李
					td 新疆地区 吐鲁番市
					td.pd_r_30 阿吉阿吉阿吉阿吉阿
					td 200333
					td 13917874367
					td 
						span.set_btn 设为默认
						button.button.select_btn 选择
				tr 
					td 小李
					td 新疆地区 吐鲁番市
					td.pd_r_30 阿吉阿吉阿吉阿吉阿
					td 200333
					td 13917874367
					td 
						span.set_btn 设为默认
						button.button.select_btn 选择
				tr 
					td 小李
					td 新疆地区 吐鲁番市
					td.pd_r_30 阿吉阿吉阿吉阿吉阿
					td 200333
					td 13917874367
					td 
						span.set_btn 设为默认
						button.button.select_btn 选择
				tr 
					td 小李
					td 新疆地区 吐鲁番市
					td.pd_r_30 阿吉阿吉阿吉阿吉阿
					td 200333
					td 13917874367
					td 
						span.set_btn 设为默认
						button.button.select_btn 选择
	div.btn_container
		button.button.close_btn 关闭
					
