resources/tpl/jade/Activity_detail_PC/Address_info.jade
#consigneeInfoContainer
    .consigneeInfoContainer
        #consigneeInfoName.consigneeInfoRow
            .consigneeInfoColumnLeft
                span.asterisk *
                span.consigneeInfoDesc 收货人：
            .consigneeInfoColumnRight
                input.person(type='text' value="1")
                span.select_btn 选择地址
                span.consigneeInfoErrorSpan
                    i.ECar_icon_warn.consigneeInfoIcon
                    span.consigneeInfoWarning 收货人不能为空
        #consigneeInfoCity.consigneeInfoRow
            .consigneeInfoColumnLeft
                span.asterisk *
                span.consigneeInfoDesc 所在地区：
            .consigneeInfoColumnRight
                select.district
                    option(value="上海长宁区城区") 上海长宁区城区
                    option(value="上海长宁区城区") 上海长宁区城区
                    option(value="上海长宁区城区") 上海长宁区城区
                span.consigneeInfoErrorSpan
                    i.ECar_icon_warn.consigneeInfoIcon
                    span.consigneeInfoWarning
        #consigneeInfoAddress.consigneeInfoRow
            .consigneeInfoColumnLeft
                span.asterisk *
                span.consigneeInfoDesc 详细地址：
            .consigneeInfoColumnRight
                input.address(type='text')
                span.consigneeInfoErrorSpan
                    i.ECar_icon_warn.consigneeInfoIcon
                    span.consigneeInfoWarning 地址不能为空
        #consigneeInfoPhone.consigneeInfoRow
            .consigneeInfoColumnLeft
                span.asterisk *
                span.consigneeInfoDesc 手机号码：
            .consigneeInfoColumnRight
                input.phoneNo(type='text')
                span.consigneeInfoErrorSpan
                    i.ECar_icon_warn.consigneeInfoIcon
                    span.consigneeInfoWarning 手机号码格式不正确
        .ECar_modal_button
            button.consigneeInfoBtn 保存收货人信息

view/tpl/jade/Activity_detail_PC/Address_info.html

<div id="consigneeInfoContainer">
  <div class="consigneeInfoContainer">
    <div id="consigneeInfoName" class="consigneeInfoRow">
      <div class="consigneeInfoColumnLeft"><span class="asterisk">*</span><span class="consigneeInfoDesc">收货人：</span></div>
      <div class="consigneeInfoColumnRight">
        <input type="text" value="1" class="person"/><span class="select_btn">选择地址</span><span class="consigneeInfoErrorSpan"><i class="ECar_icon_warn consigneeInfoIcon"></i><span class="consigneeInfoWarning">收货人不能为空</span></span>
      </div>
    </div>
    <div id="consigneeInfoCity" class="consigneeInfoRow">
      <div class="consigneeInfoColumnLeft"><span class="asterisk">*</span><span class="consigneeInfoDesc">所在地区：</span></div>
      <div class="consigneeInfoColumnRight">
        <select class="district">
          <option value="上海长宁区城区">上海长宁区城区</option>
          <option value="上海长宁区城区">上海长宁区城区</option>
          <option value="上海长宁区城区">上海长宁区城区</option>
        </select><span class="consigneeInfoErrorSpan"><i class="ECar_icon_warn consigneeInfoIcon"></i><span class="consigneeInfoWarning"></span></span>
      </div>
    </div>
    <div id="consigneeInfoAddress" class="consigneeInfoRow">
      <div class="consigneeInfoColumnLeft"><span class="asterisk">*</span><span class="consigneeInfoDesc">详细地址：</span></div>
      <div class="consigneeInfoColumnRight">
        <input type="text" class="address"/><span class="consigneeInfoErrorSpan"><i class="ECar_icon_warn consigneeInfoIcon"></i><span class="consigneeInfoWarning">地址不能为空</span></span>
      </div>
    </div>
    <div id="consigneeInfoPhone" class="consigneeInfoRow">
      <div class="consigneeInfoColumnLeft"><span class="asterisk">*</span><span class="consigneeInfoDesc">手机号码：</span></div>
      <div class="consigneeInfoColumnRight">
        <input type="text" class="phoneNo"/><span class="consigneeInfoErrorSpan"><i class="ECar_icon_warn consigneeInfoIcon"></i><span class="consigneeInfoWarning">手机号码格式不正确</span></span>
      </div>
    </div>
    <div class="ECar_modal_button">
      <button class="consigneeInfoBtn">保存收货人信息</button>
    </div>
  </div>
</div>
