view/tpl/jade/Activity_detail_PC/detail_main.html

<div class="product-detail">
  <ul id="pro-tab" class="nav-tabs clearfix">
    <li rel="#tabsone" class="active">商品介绍</li>
    <!--li(rel="#tabstwo") 用户评论strong (22)
    -->
    <!--li(rel="#tabsthree") 门店信息-->
    <li rel="#tabsfour">活动规则</li>
  </ul>
  <div id="tabsone" class="product-detail-one">
    <ul class="p-parameter-list clearfix">
      <li>商品名称：美赞臣奶粉</li>
      <li>商品编号：1250244</li>
      <li>品       牌：美赞臣（Enfamil）</li>
      <li>商品毛重：1.36kg商品</li>
      <li>产     地：广州</li>
      <li>奶源产地：荷兰</li>
      <li>国产/进口：国产</li>
      <li>适用年龄：3-6岁</li>
      <li>特殊配方：其它</li>
      <li>净含量：1-2kg</li>
      <li>分       类：牛奶粉</li>
      <li>包装单位：盒装</li>
      <li>段      位：4段</li>
    </ul>
    <div class="banner"><img src="/resources/img/banner.jpg" width="792" height="1622"/></div>
  </div>
  <div id="tabstwo" class="product-detail-two">
    <div class="comments-list">
      <ul class="mt clearfix">
        <li class="mt-name">用户</li>
        <li class="mt-cont">内容</li>
        <li class="mt-time">时间</li>
      </ul>
      <ul class="com-main clearfix">
        <li>
          <div class="avatars">
            <p class="user-img-none"></p>
            <p class="user-name">Deat**Deat**</p>
          </div>
          <div class="review">
            <p class="txt">包装严实 发货很快	 酸酸甜甜味道不错 希望有效果</p>
            <div class="reply"><span class="tit">车享回复：</span>
              <p>您好！小米4标配一个充电头，一根安卓通用数据线。将数据线小头端连接手机的充电头，注意辨别方向；充电时手机会有提示。感谢您对车享的支持！祝您购物愉快！</p>
            </div>
          </div>
          <div class="ctime">
            <p>2016-04-03 22:04:26</p>
          </div>
        </li>
        <li>
          <div class="avatars">
            <p class="user-img-none"></p>
            <p class="user-name">Deat**</p>
          </div>
          <div class="review">
            <p class="txt">包装严实 发货很快	 酸酸甜甜味道不错 希望有效果</p>
            <div class="reply"><span class="tit">车享回复：</span>
              <p>您好！小米4标配一个充电头，一根安卓通用数据线。将数据线小头端连接手机的充电头，注意辨别方向；充电时手机会有提示。感谢您对车享的支持！祝您购物愉快！</p>
            </div>
          </div>
          <div class="ctime">
            <p>2016-04-03 22:04:26</p>
          </div>
        </li>
        <li>
          <div class="avatars"><img src="/resources/img/face.jpg" width="54" height="54" class="user-img"/>
            <p class="user-name">Deat**</p>
          </div>
          <div class="review">
            <p class="txt">包装严实 发货很快	 酸酸甜甜味道不错 希望有效果</p>
            <div class="reply"><span class="tit">车享回复：</span>
              <p>您好！小米4标配一个充电头，一根安卓通用数据线。将数据线小头端连接手机的充电头，注意辨别方向；充电时手机会有提示。感谢您对车享的支持！祝您购物愉快！</p>
            </div>
          </div>
          <div class="ctime">
            <p>2016-04-03 22s4:26</p>
          </div>
        </li>
      </ul>
      <div class="list-pagine f-page pdb-15"><a href="javascript:;" class="disabled f-prev"><i>&lt; 上一页</i></a><span class="pspan current">1</span><a href="javascript:;">2</a><a href="javascript:;">3</a><span class="dot">...</span><a href="javascript:;" class="f-next">下一页<i>&gt;</i></a>
        <div class="form"><span>到第</span>
          <input type="number" value="2" class="input"/><span>页</span>
        </div><a href="javascript:;" class="sub-btn">确定</a>
      </div>
    </div>
  </div>
  <div id="tabsthree" class="product-detail-three">
    <div class="store-list">
      <ul class="city-infor clearfix">
        <li class="province">
          <select class="spr">
            <option>请选择省份</option>
            <option>河南省</option>
            <option>内蒙古自治区</option>
            <option>广西壮族自治区</option>
            <option>新疆维吾尔自治区</option>
            <option>香港特别行政区</option>
            <option>澳门特别行政区</option>
          </select>
        </li>
        <li class="cname">
          <select class="sct">
            <option>请选择</option>
            <option>北京市</option>
            <option>克孜勒苏柯尔克孜自治州</option>
            <option>延边朝鲜族自治州</option>
            <option>省直辖县级行政区划</option>
            <option>恩施土家族苗族自治州</option>
            <option>湘西土家族苗族自治州</option>
            <option>阿坝藏族羌族自治州</option>
            <option>黔西南布依族苗族自治州</option>
            <option>红河哈尼族彝族自治州</option>
            <option>黔西南布依族苗族自治州</option>
          </select>
        </li>
        <li class="cstore">门店名称</li>
        <li class="caddress">地址</li>
      </ul>
      <ul class="city-name clearfix">
        <li><span class="province">北京</span><span class="cname">北京</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京建国门外大街21号国际俱乐部1层</span></li>
        <li><span class="province">北京</span><span class="cname">北京</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京王府井大街138号新东安广场地下一层KB1-2店铺</span></li>
        <li><span class="province">北京</span><span class="cname">澳门特别行政区</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京建国门外大街21号国际俱乐部1层</span></li>
        <li><span class="province">北京</span><span class="cname">北京</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京建国门外大街21号国际俱乐部1层</span></li>
      </ul>
      <div style="display:none" class="result">对不起，没有找到结果</div>
    </div>
    <div id="tabsthree" class="product-detail-three">
      <div class="store-list">
        <ul class="city-infor clearfix">
          <li class="province">
            <select class="spr">
              <option>请选择省份</option>
              <option>河南省</option>
              <option>内蒙古自治区</option>
              <option>广西壮族自治区</option>
              <option>新疆维吾尔自治区</option>
              <option>香港特别行政区</option>
              <option>澳门特别行政区</option>
            </select>
          </li>
          <li class="cname">
            <select class="sct">
              <option>请选择</option>
              <option>北京市</option>
              <option>克孜勒苏柯尔克孜自治州</option>
              <option>延边朝鲜族自治州</option>
              <option>省直辖县级行政区划</option>
              <option>恩施土家族苗族自治州</option>
              <option>湘西土家族苗族自治州</option>
              <option>阿坝藏族羌族自治州</option>
              <option>黔西南布依族苗族自治州</option>
              <option>红河哈尼族彝族自治州</option>
              <option>黔西南布依族苗族自治州</option>
            </select>
          </li>
          <li class="cstore">门店名称</li>
          <li class="caddress">地址</li>
        </ul>
        <ul class="city-name clearfix">
          <li><span class="province">北京</span><span class="cname">北京</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京建国门外大街21号国际俱乐部1层</span></li>
          <li><span class="province">北京</span><span class="cname">北京</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京王府井大街138号新东安广场地下一层KB1-2店铺</span></li>
          <li><span class="province">北京</span><span class="cname">澳门特别行政区</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京建国门外大街21号国际俱乐部1层</span></li>
          <li><span class="province">北京</span><span class="cname">北京</span><span class="cstore">哈根达斯北京国际俱乐部店</span><span class="caddress">北京建国门外大街21号国际俱乐部1层</span></li>
        </ul>
        <div style="display:none" class="result">对不起，没有找到结果</div>
      </div>
    </div>
  </div>
  <div id="tabsfour" class="product-detail-four">
    <p>1.活动时间：2016年4月25日至2016年6月25日  好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字</p>
    <p>2.活动说明：活动期间内，车享会员购买车险（不含车船税）满3000元，保价立减300元</p>
    <p>3.本次活动支持中国人保财险、太平洋保险、平安直通保险、阳光保险集团、中国人寿等车险购买使用</p>
    <p>本次活动参与城市：广州，深圳，上海，天津，郑州，苏州，成都，重庆，杭州，武汉，北京</p>
    <p>5.特殊说明：本次活动最终解释权归上海赛可电子商务有限公司所有，如有疑问请致电4008-020-666</p>
  </div>
</div>

resources/tpl/jade/Activity_detail_PC/detail_main.jade
div.product-detail
	ul.nav-tabs#pro-tab.clearfix
		li.active(rel="#tabsone") 商品介绍
		//li(rel="#tabstwo") 用户评论
			strong (22)
		//li(rel="#tabsthree") 门店信息
		li(rel="#tabsfour") 活动规则
	div.product-detail-one#tabsone
		ul.p-parameter-list.clearfix
			li 商品名称：美赞臣奶粉
			li 商品编号：1250244
			li 品       牌：美赞臣（Enfamil）
			li 商品毛重：1.36kg商品
			li 产     地：广州
			li 奶源产地：荷兰
			li 国产/进口：国产
			li 适用年龄：3-6岁
			li 特殊配方：其它
			li 净含量：1-2kg
			li 分       类：牛奶粉
			li 包装单位：盒装
			li 段      位：4段
		div.banner
			img(src="../../../img/seckill/banner.jpg" width="792" height="1622")
	div.product-detail-two#tabstwo
		div.comments-list
			ul.mt.clearfix
				li.mt-name 用户
				li.mt-cont 内容
				li.mt-time 时间
			ul.com-main.clearfix
				li
					div.avatars
						p.user-img-none
						p.user-name Deat**Deat**
					div.review
						p.txt 包装严实 发货很快	 酸酸甜甜味道不错 希望有效果
						div.reply
							span.tit 车享回复：
							p 您好！小米4标配一个充电头，一根安卓通用数据线。将数据线小头端连接手机的充电头，注意辨别方向；充电时手机会有提示。感谢您对车享的支持！祝您购物愉快！
					div.ctime
						p 2016-04-03 22:04:26
				li
					div.avatars
						p.user-img-none
						p.user-name Deat**
					div.review
						p.txt 包装严实 发货很快	 酸酸甜甜味道不错 希望有效果
						div.reply
							span.tit 车享回复：
							p 您好！小米4标配一个充电头，一根安卓通用数据线。将数据线小头端连接手机的充电头，注意辨别方向；充电时手机会有提示。感谢您对车享的支持！祝您购物愉快！
					div.ctime
						p 2016-04-03 22:04:26
				li
					div.avatars
						img(class="user-img" src="/resources/img/face.jpg" width="54" height="54")
						p.user-name Deat**
					div.review
						p.txt 包装严实 发货很快	 酸酸甜甜味道不错 希望有效果
						div.reply
							span.tit 车享回复：
							p 您好！小米4标配一个充电头，一根安卓通用数据线。将数据线小头端连接手机的充电头，注意辨别方向；充电时手机会有提示。感谢您对车享的支持！祝您购物愉快！
					div.ctime
						p 2016-04-03 22s4:26
			div.list-pagine.f-page.pdb-15
				a(href="javascript:;").disabled.f-prev
					i &lt; 上一页
				span.pspan.current 1
				a(href="javascript:;") 2
				a(href="javascript:;") 3
				span.dot ...
				a(href="javascript:;").f-next 下一页
					i &gt;
				div.form
					span 到第
					input(type="number", value="2").input
					span 页
				a(href="javascript:;").sub-btn 确定
	div.product-detail-three#tabsthree
		div.store-list
			ul.city-infor.clearfix
				li.province
					select.spr
						option 请选择省份
						option 河南省
						option 内蒙古自治区
						option 广西壮族自治区
						option 新疆维吾尔自治区
						option 香港特别行政区
						option 澳门特别行政区
				li.cname
					select.sct
						option 请选择
						option 北京市
						option 克孜勒苏柯尔克孜自治州
						option 延边朝鲜族自治州
						option 省直辖县级行政区划
						option 恩施土家族苗族自治州
						option 湘西土家族苗族自治州
						option 阿坝藏族羌族自治州
						option 黔西南布依族苗族自治州
						option 红河哈尼族彝族自治州
						option 黔西南布依族苗族自治州
				li.cstore 门店名称
				li.caddress 地址
			ul.city-name.clearfix
				li
					span.province 北京
					span.cname 北京
					span.cstore 哈根达斯北京国际俱乐部店
					span.caddress 北京建国门外大街21号国际俱乐部1层
				li
					span.province 北京
					span.cname 北京
					span.cstore 哈根达斯北京国际俱乐部店
					span.caddress 北京王府井大街138号新东安广场地下一层KB1-2店铺
				li
					span.province 北京
					span.cname 澳门特别行政区
					span.cstore 哈根达斯北京国际俱乐部店
					span.caddress 北京建国门外大街21号国际俱乐部1层
				li
					span.province 北京
					span.cname 北京
					span.cstore 哈根达斯北京国际俱乐部店
					span.caddress 北京建国门外大街21号国际俱乐部1层
			div.result("style"="display:none") 对不起，没有找到结果
		div.product-detail-three#tabsthree
			div.store-list
				ul.city-infor.clearfix
					li.province
						select.spr
							option 请选择省份
							option 河南省
							option 内蒙古自治区
							option 广西壮族自治区
							option 新疆维吾尔自治区
							option 香港特别行政区
							option 澳门特别行政区
					li.cname
						select.sct
							option 请选择
							option 北京市
							option 克孜勒苏柯尔克孜自治州
							option 延边朝鲜族自治州
							option 省直辖县级行政区划
							option 恩施土家族苗族自治州
							option 湘西土家族苗族自治州
							option 阿坝藏族羌族自治州
							option 黔西南布依族苗族自治州
							option 红河哈尼族彝族自治州
							option 黔西南布依族苗族自治州
					li.cstore 门店名称
					li.caddress 地址
				ul.city-name.clearfix
					li
						span.province 北京
						span.cname 北京
						span.cstore 哈根达斯北京国际俱乐部店
						span.caddress 北京建国门外大街21号国际俱乐部1层
					li
						span.province 北京
						span.cname 北京
						span.cstore 哈根达斯北京国际俱乐部店
						span.caddress 北京王府井大街138号新东安广场地下一层KB1-2店铺
					li
						span.province 北京
						span.cname 澳门特别行政区
						span.cstore 哈根达斯北京国际俱乐部店
						span.caddress 北京建国门外大街21号国际俱乐部1层
					li
						span.province 北京
						span.cname 北京
						span.cstore 哈根达斯北京国际俱乐部店
						span.caddress 北京建国门外大街21号国际俱乐部1层
				div.result("style"="display:none") 对不起，没有找到结果
	div.product-detail-four#tabsfour
		p 1.活动时间：2016年4月25日至2016年6月25日  好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字好多好多字
		p 2.活动说明：活动期间内，车享会员购买车险（不含车船税）满3000元，保价立减300元
		p 3.本次活动支持中国人保财险、太平洋保险、平安直通保险、阳光保险集团、中国人寿等车险购买使用
		p 本次活动参与城市：广州，深圳，上海，天津，郑州，苏州，成都，重庆，杭州，武汉，北京
		p 5.特殊说明：本次活动最终解释权归上海赛可电子商务有限公司所有，如有疑问请致电4008-020-666
