view/tpl/jade/Activity_detail_PC_build/detail_head.html

<div class="detail_head">
  <div class="title clearfix"><span class="title_txt"></span></div>
  <div class="goodport clearfix">
    <div class="good_img"><img src=""/></div>
    <div class="good_detail">
      <div class="good_name">
        <p> </p>
      </div>
      <div class="price_detail">
        <p class="market">市场价：<span class="market_num"> </span>元</p>
        <p class="sale"><span class="sale_num"> </span>元<span class="dot">+</span><span class="point_num"> </span>积分<span class="sale_txt">秒杀价</span></p>
      </div>
      <div id="countDown" class="countdown"><span class="countdown_txt">倒计时：</span><span class="day time"><span class="timeContainer"><span class="first">0</span><i class="line"></i></span><span class="timeContainer"><span class="last">0</span><i class="line"></i></span></span>天<span class="hour time"><span class="timeContainer"><span class="first">0</span><i class="line"></i></span><span class="timeContainer"><span class="last">0</span><i class="line"></i></span></span>时<span class="minute time"><span class="timeContainer"><span class="first">0</span><i class="line"></i></span><span class="timeContainer"><span class="last">0</span><i class="line"></i></span></span>分<span class="second time"><span class="timeContainer"><span class="first">0</span><i class="line"></i></span><span class="timeContainer"><span class="last">0</span><i class="line"></i></span></span>秒</div><a href="javasript:;" data-num="" class="buy_button">即将开始</a>
      <div class="stock">库存：<span class="stock_num"> </span></div>
    </div>
  </div>
</div>

resources/tpl/jade/Activity_detail_PC/detail_head.jade
div.detail_head
	div.title.clearfix
		span.title_txt
	div.goodport.clearfix
		div.good_img
			img(src="")
		div.good_detail
			div.good_name
				p 
			div.price_detail
				p.market
					|市场价：
					span.market_num 
					|元
				p.sale
					span.sale_num 
					|元
					span.dot +
					span.point_num 
					|积分
					span.sale_txt 秒杀价
			div.countdown#countDown
				span.countdown_txt 倒计时：
				span.day.time
					span.timeContainer
						span.first 0
						i.line
					span.timeContainer
						span.last 0
						i.line
				|天
				span.hour.time
					span.timeContainer
						span.first 0
						i.line
					span.timeContainer
						span.last 0
						i.line
				|时
				span.minute.time
					span.timeContainer
						span.first 0
						i.line
					span.timeContainer
						span.last 0
						i.line
				|分
				span.second.time
					span.timeContainer
						span.first 0
						i.line
					span.timeContainer
						span.last 0
						i.line
				|秒
			a.buy_button(href="javasript:;",data-num="")
				|即将开始
			div.stock
				|库存：
				span.stock_num 
